<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Find Pizzaria</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"></meta>
        <meta charset="utf-8"></meta>
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"></link>
        <link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"></link>
        <link href="bootstrap-3.3.7-dist/css/newCascadeStyleSheet.css" rel="stylesheet"></link>
        <script type="text/javascript" src="bootstrap-3.3.7-dist/js/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="bootstrap-3.3.7-dist/js/newjavascript.js"></script> 
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFlK-O5FhzwKxvG0GLLxHpPcQ9H1qN8EY"></script>

    </h:head>
    <body>
        <div id="menu">
            <h:form class="navbar  navbar-light bg-light">
                <div class="form-inline">
                    <p:outputLabel value="FIND PIZZA's" style="padding-left: 40px"></p:outputLabel>
                    <p:outputLabel styleClass="em em-pizza"></p:outputLabel>
                     <p:messages showDetail="true" showIcon="false" closable="true" showSummary="false" autoUpdate="false"/>
      
                    <a href="#" id="login" style="padding-left: 40px; padding-right: 40px; color: white">login</a>
                    <p:inputText styleClass="form-control mr-sm-2" placeholder="busca"></p:inputText>
                    <button   id="btnbusca" type="button" class="btn btn-link active">
                        <i class="em em-mag_right"></i>
                    </button>
                </div>
            </h:form>
        </div>
        <center id="cadastro">
            <p:panel styleClass="navbar" style=" width: 30%; background: -webkit-gradient(linear, left top, left bottom, from(#122b40), to(#000000));
                     background: -moz-linear-gradient(top, #122b40, #000000);
                     filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#122b40', EndColorStr='#000000');" >
                <h:form styleClass="form-group " id="cadastro">
                    <label class="btn btn-default form-control">Cadastro</label><br></br><br></br>
                    <div class="input-group mb-2 mb-sm-0">
                        <div class=" input-group-addon">
                            <i class="em em-bust_in_silhouette"></i>
                        </div>
                        <h:inputText styleClass="form-control"></h:inputText>
                    </div><br></br>
                    <div class="input-group mb-2 mb-sm-0">
                        <div class=" input-group-addon">
                            <i class="em em-envelope_with_arrow"></i>
                        </div>
                        <h:inputText styleClass="form-control" ></h:inputText>
                    </div><br></br>
                    <div class="input-group mb-2 mb-sm-0">
                        <div class=" input-group-addon">
                            <i class="em em-closed_lock_with_key"></i>
                        </div>
                        <p:password styleClass="form-control"></p:password>
                    </div><br></br>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <p:commandButton styleClass="btn btn-secondary" value="Enviar"></p:commandButton>
                        <p:button id="cancelarlogin" styleClass="btn btn-secondary" value="Cancelar"></p:button>
                    </div>
                </h:form>
            </p:panel>
        </center>
        <center  id="logar">
            <p:panel styleClass="navbar" style=" width: 30%; background: -webkit-gradient(linear, left top, left bottom, from(#122b40), to(#000000));
                     background: -moz-linear-gradient(top, #122b40, #000000);
                     filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#122b40', EndColorStr='#000000');" >
                <h:form styleClass="form-group ">
                    <label class="btn btn-default form-control">Login</label><br></br><br></br>
                    <div class="input-group mb-2 mb-sm-0">
                        <div class=" input-group-addon">
                            <i class="em em-envelope_with_arrow"></i>
                        </div>
                        <h:inputText styleClass="form-control" value="#{userLogin.login}"/>
                    </div><br></br>
                    <div class="input-group mb-2 mb-sm-0">
                        <div class=" input-group-addon">
                            <i class="em em-closed_lock_with_key"></i>
                        </div>
                        <p:password styleClass="form-control" value="#{userLogin.password}"/>
                    </div><br></br>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <p:commandButton styleClass="btn btn-secondary" action="#{userLogin.logar()}" value="Enviar"></p:commandButton>
                        <p:button id="cancelarlogin" styleClass="btn btn-secondary" value="Cancelar"></p:button>
                    </div><br></br><br></br>
                    <a href="#" id="fazercadastro"  Class="badge">Cadastre-se Aqui</a>

                </h:form>
            </p:panel>
        </center>
        <p:gmap center="41.381542, 2.122893" zoom="15" type="HYBRID" style="width:100%;height:400px" id="map"/>
        <a href="teste.xhtml">dada</a>
    </body>
</html>

