<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"></link>
    </h:head>
    <h:body>
        Hello from Facelets
        <h:form>
             <h:dataTable value ="#{controller.usuarios}" var = "func">
		<h:column>
			<h:outputText value="#{func.nome}"/>
		</h:column>
		<h:column>
                    <h:outputText value="#{func.email}"/>
		</h:column>
		
	</h:dataTable>
        </h:form>
        <h:form>
            
         <p:messages showDetail="true" showIcon="false" closable="true" showSummary="false" autoUpdate="false"/>
        <h:inputText value="#{controller.nome}"/>
        <h:commandButton action="#{controller.save()}" value="salvar"/>
        </h:form>
    </h:body>
</html>

